<table class="table table-striped">
  <thead class="thead-light">
  <tr>
    <th *ngFor="let value of displayedColumns" scope="col">{{value | titlecase}}</th>
    <th *ngIf="showCommands"></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let value of data; index as i">
    <td *ngFor="let el of value">{{format(el)}}</td>
    <td *ngIf="showCommands">
      <button type="button" class="btn btn-sm" (click)="onEditClick(i)">
        <span class="oi oi-pencil"></span>
      </button>
    </td>
  </tr>
  </tbody>
</table>
